<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">
           
           
           
<bean id="playservice"  class="com.zeratul.PlayService"/>
<bean id="payservice"  class="com.zeratul.PayService"/>               
<bean id="aspect" class="com.zeratul.LogAspect"/>  


<aop:aspectj-autoproxy/>      
<bean id="aspectj" class="com.zeratul.ascpectj.AspectImpl"/> 
<aop:config>  
<aop:pointcut id="pointcut" expression="execution(* com.zeratul.PlayService.Play(java.lang.String)) and args(video)"/>  
    <aop:aspect ref="aspect">  
        <aop:before pointcut-ref="pointcut" method="beforeAdvice(java.lang.String)" arg-names="video"/>  
      <!--   <aop:after pointcut="execution(* com.zeratul..*.*(..))" method="afterFinallyAdvice"/>   -->
    </aop:aspect>  
</aop:config> 



</beans>  